#body-index {
    background-color: #EBA7AC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 8px;
}

@font-face {
    font-family: "gato";
    src: url(fontes/Galaxy_dingbats-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "normal";
    src: url(fontes/BebasNeue-Regular.otf) format("opentype"), 
         url(fontes/BebasNeue-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "assinatura";
    src: url(fontes/RenathaSignature.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "amor";
    src: url(fontes/love\ larry\ ttf.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "fight";
    src: url(fontes/FIGHTBACK.otf) format("opentype"), 
         url(fontes/FIGHTBACK.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

#div-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 70vw;
    min-width: 800px;
}

#div-titulo {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#h1-titulo {
    font-size: 4em;
    font-family: "fight";
    color: white;
    margin: 0px;
    text-align: center;
}

#p-titulo {
    font-size: 3em;
    font-family: "assinatura";
    color: white;
    margin: 0px auto;
    max-width: 20em;
    text-align: center;
}

#div-senha {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#Senha {
    padding: 0.5em;
    width: 250px;
}

.input {
    border: 4px solid white;
    color: white;
    background-color: #CD5E77;
}

.botao-senha {
    font-size: 12.5px;
    font-family: "normal";
    background-color: #CD5E77;
    color: white;
    text-align: center;
    padding: 0.5em 1em;
    cursor: pointer;
    border: 4px solid white;
}

.botao-senha:hover {
    background-color: white;
    color: #CD5E77;
    transform: scale(1.05);
}

#p-senha {
    font-family: "amor";
    font-size: 3rem;
    margin: 0px auto;
    color: white;
}

#gatos-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.gato {
    /* background-color: white; */
    font-family: "gato";
    font-size: 5em;
    width: 1em;
    height: 1em;
    margin: 0px;
}

#gato1 {
    position: relative;
    bottom: 3em;
    right: 7em;
    z-index: -1;
}

#gato2 {
    position: relative;
    bottom: 4em;
    left: 8em;
    z-index: -1;
}

#gato3 {
    position: relative;
    bottom: 2.5em;
    left: 0em;
    z-index: -1;
}

#gato4 {
    position: relative;
    top: 2em;
    right: 8em;
    z-index: -1;
}

@media (max-width: 768px) {
    #div-principal {
        flex-direction: column;
        width: 90vw;
        min-width: auto;
        gap: 20px;
        margin-bottom: 20px;
    }

    #gatos-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;
    }

    #gato1 {
        position: relative;
        bottom: 0em;
        right: 0em;
    }
    
    #gato2 {
        position: relative;
        top: 0em;
        left: 0em;
    }
    
    #gato3 {
        position: relative;
        bottom: 0em;
        left: 0em;
    }

    .gato {
        background-color: white;
        font-family: "gato";
        font-size: 3em;
        width: 1em;
        height: 1em;
        margin: 0;
    }

    #h1-titulo {
        font-size: 2.5em;
    }

    #p-titulo {
        font-size: 2em;
    }
}

/* 

pagina principal

*/

#body-principal {
    background-color: #EBA7AC;
}


.botao-sair, .botao-elencos {
    font-size: 1rem;
    font-family: "normal";
    background-color: #CD5E77;
    color: white;
    text-align: center;
    padding: 0.75em 1.5em;
    cursor: pointer;
    border: 4px double white;
    transition: all 0.3s ease;
}

.botao-sair:hover, .botao-elencos:hover {
    background-color: white;
    color: #CD5E77;
    transform: scale(1.05);
}

.header {
    background-color: #E17F93;
    padding: 0.5em 1em;
    width: 95%; 
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 4px double white;
    z-index: 1000;
}

#h1-titulo-principal {
    font-size: 2em;
    font-family: "amor";
    color: white;
    margin: 0;
    text-align: center;
}

.container-elencos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 50px; 
}


.botoes-elencos {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 60px;
}

.select-elencos {
    display: none;
}

#pesquisa {
    font-size: 2rem;
    margin-top: 1rem;
    font-family: "normal";
}

@media (max-width: 768px) {
<<<<<<< HEAD
    #h1-titulo-principal {
        font-size: 1.5em;
        font-family: "amor";
        color: white;
        margin: 0;
        text-align: center;
=======
    .botoes-elencos {
        display: none;
    }

    .select-elencos {
        margin-top: 16px;
        display: block;
        width: 80%;
        max-width: 300px;
        padding: 0.75em 1.5em;
        font-size: 1rem;
        font-family: "normal";
        background-color: black;
        color: white;
        border: 4px double white;
        appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg fill="%23ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
        background-repeat: no-repeat;
        background-position: right 10px center;
>>>>>>> d7775cb2a002b241706ced1c8be43bd05af109f4
    }
}

/* 
    ATLETA NÃO ENCONTRADO
*/

#body-nao-encontrado {
    background-color: black;
    color: white;
}

#não-encontrado {
    font-family: "fight";
    font-size: 7rem;
    text-align: center;
    margin: 0;
    margin-top: 5rem;
    color: white;
}

#voltar {
    font-family: "normal";
    color: white;
    font-size: 3rem;
    display: block;
    text-align: center;
    margin-top: 1rem;
}